body {
background-image:url(img/Fond-Accueil.jpg); 
background-attachment:fixed; 
background-size:cover;
}

.formulaire1 {
border: 1px solid #c6c6c6;
width : 25%;
background-color:white;
padding: 5px 5px 5px 5px;
position : relative;
left:30px;
}

.formulaire2 {
border: 1px solid #c6c6c6;
position : relative;
width : 25%;
background-color:white;
padding: 5px 5px 5px 5px;
top: 20px;
left:30px;
}


.droit {
position:fixed;
bottom:0;
left:0;
height:40px;
width:100%;
padding-top : 10px;
border-top: 1px solid #c6c6c6;
background-color : #474746;

}
.droit p {
text-align : center;
color : #EDEDEC;
font-variant: small-caps;
}
