.croaker {
background-color : green;
color : white;
font-size : 25px;
font-weight : bold;
height : 80px;
padding : 19px 0 0 100px;
margin-bottom :100px;
}

.accueil {
padding : 0 0 0 1%;

}

.identifiant {
display : block;
position : absolute;
padding : 0 0 0 60%;
top : 19px;
}

.formulaire {
width : 50%;
margin: auto;
text-align: center;
}


.social {
position : absolute;
bottom : 20px;

}

.social ul li a {
	position: relative;
	display: inline-block;
	width: 78px;
	height: 78px;
	background-repeat: no-repeat;
	background-position: 50%;
	}

.social ul li.facebook a {
	background-image: url('img/facebook.png');
}

.social ul li.twitter a {
	background-image: url('img/twitter.png');
}



.droit {
position:fixed;
bottom:0;
left:0;
height:100px;
width:100%;
padding-top : 10px;
border-top: 1px solid #c6c6c6;
background-color : #474746;

}
.droit p {
text-align : center;
color : #EDEDEC;
font-variant: small-caps;
}
