.footer {
position:fixed;
bottom:0;
left:0;
height:40px;
width:100%;
padding-top : 10px;
border-top: 1px solid #c6c6c6;
background-color : #474746;
opacity : 0.6;
font-variant: small-caps;

}

.footer ul li a{
text-decoration:none;
color : white; 
}

.footer ul li a:hover{
text-decoration:none;
color : black; 
}


.footer ul li {
position: relative;
font-size : 12px;
display: inline-block;
margin: 0 10px;
text-decoration:none; 

}

ul li.droit {
left : 65%;
color : #EDEDEC;
}
