.connexion {
background-image: url(../images/Fond-Accueil.jpg);
background-attachment: fixed;
background-size: cover;
background-position: 100% 70%;
}


.pull-left {
width: 50px;
margin-right: 7px;
margin-left: 2px;
}

body {
background-image: url(../images/Fond-Accueil.jpg);
background-attachment: fixed;
background-size: cover;
background-position: 100% 70%;
}

.formulaire1 {
border: 1px solid rgba(240, 240, 240, 0.9);
width: 25%;
background-color: rgba(252, 252, 252, 0.95);
padding: 10px 10px 0px 10px;
border-radius: 7px;
box-shadow: 1px 1px 3px #7b7b7b;
position: relative;
top: 90px;
left: 35px;
}

.formulaire2 {
border: 1px solid rgba(240, 240, 240, 0.9);
position: relative;
width: 25%;
background-color: rgba(252, 252, 252, 0.95);
padding: 10px 10px 0px 10px;
border-radius: 7px;
box-shadow: 1px 1px 3px #7b7b7b;
top: 110px;
left: 35px;
}

.formulaire3 {
border: 1px solid rgba(240, 240, 240, 0.9);
position: relative;
width: 25%;
background-color: rgba(252, 252, 252, 0.95);
padding: 10px 10px 0px 10px;
border-radius: 7px;
box-shadow: 1px 1px 3px #7b7b7b;
top: 90px;
left: 35px;
}


.Croaker-title {
color : #25953e;
}


.footer {
position : fixed;
bottom:0;
left:0;
height:30px;
width:100%;
padding-top : 4px;
border-top: 1px solid #c6c6c6;
background-color : #474746;
opacity : 0.6;
font-variant: small-caps;

}


/* FOOTER */
.footer ul li a{
text-decoration:none;
color : white;
}

.footer ul li a:hover{
text-decoration:none;
color : black;
}

.footer ul li {
position: relative;
font-size : 12px;
display: inline-block;
margin: 0 10px;
text-decoration:none;
}

ul li.droit {
left : 65%;
color : #EDEDEC;
}

/* CONTAINER /home */
.container  {
margin-top : 75px;
margin-bottom : 50px;
padding-bottom : 20px;
border-radius: 7px;
box-shadow: 1px 1px 3px #7b7b7b;
background-color: rgba(252, 252, 252, 0.95);
}

.container .form-control{
min-height : 50px;
}

.container .form-group {
padding-top : 50px;
min-width : 300px;
}

.container .username {
margin-top : 5px;
font-size : 15px;
list-style-type: none;
font-family : Lucida Sans Unicode;
}

.container .date {
font-size : 10px;
list-style-type: none;
padding-top: 10px;
padding-left : 65%;
}

.container .croak {
display : block;
border : 1px solid #c6c6c6;
border-radius: 6px;
min-height: 75px;
min-width : 300px;
margin : 10px 0 10px 0;
padding-left : 45px;
background:url(../images/inconnu.png) no-repeat;
background-color: rgb(254, 254, 254);

}

.container .content {
font-size : 15px;
font-family : Helvetica;
padding : 0px 5px 0px 5px;
display: inline-block;
}

li.dropdown img {
width:20px;
height:20px;
padding-right : 3px;

}

.notfound  {
font-size : 30px;
display: block;
margin-left: auto;
margin-right: auto;
text-align : center;

}
