.connexion {
background-image: url(../images/Fond-Accueil.jpg);
background-attachment: fixed;
background-size: cover;
background-position: 100% 70%;
}

.pull-left {
    width: 50px;
    margin-right: 7px;
    margin-left: 2px;

}

.navbar-brand {
}

.formulaire1 {
border: 1px solid rgba(240, 240, 240, 0.9);
width: 25%;
background-color: rgba(252, 252, 252, 0.95);
padding: 10px 10px 0px 10px;
border-radius: 7px;
box-shadow: 1px 1px 3px #7b7b7b;
position: relative;
top: 15px;
left: 35px;
}

.formulaire2 {
border: 1px solid rgba(240, 240, 240, 0.9);
position: relative;
width: 25%;
background-color: rgba(252, 252, 252, 0.95);
padding: 10px 10px 0px 10px;
border-radius: 7px;
box-shadow: 1px 1px 3px #7b7b7b;
top: 35px;
left: 35px;
}


.footer {
position:fixed;
bottom:0;
left:0;
height:30px;
width:100%;
padding-top : 4px;
border-top: 1px solid #c6c6c6;
background-color : #474746;
opacity : 0.6;
font-variant: small-caps;

}

.footer ul li a{
text-decoration:none;
color : white;
}

.footer ul li a:hover{
text-decoration:none;
color : black;
}


.footer ul li {
position: relative;
font-size : 12px;
display: inline-block;
margin: 0 10px;
text-decoration:none;

}

ul li.droit {
left : 65%;
color : #EDEDEC;
}
